.App-header{
  background: #2d3033;
  color: #edf5e1;
  font-weight: 500;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 
.card{
  background: #222629 ;
}
.welcomeSection{
  background: #86c232;
}
.headSection{
  color: #edf5e1;
  font-weight: 600;
  letter-spacing: 0.08em;
}

.liveResultSection{
  margin-top: 40px;
}
  .leaderboard { 
    color: #edf5e1;
    text-align: center !important;
    border-collapse: collapse;
    border: 3px solid #86c232;
    border-color: transparent !important;
    width: 75%  !important;
    background: #6b6e70 !important;
    box-shadow:  5px 5px 10px #474b4f,
                 -5px -5px 10px #474b4f !important;
  }

  .leaderboard1{
    color: #edf5e1;
    text-align: center !important;
    border-collapse: collapse;
    border: 3px solid #86c232;
    border-color: transparent !important;
    width: 90%  !important;
    background: #6b6e70 !important;
    box-shadow:  5px 5px 10px #474b4f,
                 -5px -5px 10px #474b4f !important;
  }


  .setCenter {text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;}

  .leaderboard td{
    padding: 6px;
    border-radius: 0px;
    font-weight: bold;
    /* border: 1px solid #86c232; */
   }
    
   

  .leaderboard thead th{ 
    background: #222629 !important;
    color: #ffffff !important;
   }

       
  .leaderboard1 thead th{ 
    background: #222629 !important;
    color: #ffffff !important;
   }

   .leaderboard1 thead th{ 
    background: #222629 !important;
    color: #ffffff !important;
   }

   .leaderboard thead th{ 
    background: #222629 !important;
    color: #ffffff !important;
   }

   tr:nth-child(even) {
    background-color: #474b4f;
  }
  
  @media screen and (max-width: 40em){
    .leaderboard { 
      width: 100%  !important;
    }
   .leaderboard1 { 
      width: 100%  !important;
    }


    .responsiveTable tbody tr {
        border: 3px solid #6b6e70;
        padding: .25em;
    }
}
  
  .leaderboard tr:hover {
    background-color: #86c232 !important; 
     border-radius: 0% !important;
    }
  
    .leaderboard1 tr:hover {
      background-color: #86c232 !important; 
       border-radius: 0% !important;
      }
    
  .leaderboard th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #6b6e70;
    color: #edf5e1 !important;
    font-size: 18px;
    font-weight: bold;
    border-radius: 0% !important;

  }
  .leaderboard1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #6b6e70;
    color: #edf5e1 !important;
    font-size: 18px;
    font-weight: bold;
    border-radius: 0% !important;

  }
  